.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.sidebar-logo-thing {
    opacity: 1;
    letter-spacing: 1px;
    visibility: visible;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    font-weight: 800;
    font-size: 30px;
    text-decoration: none !important;
    color: #00b1f0 !important;
    direction: ltr;
}

.sidebar-logo-thing span {
    color: black;
}

.login-button {
    border: none;
    background-color: #00b1f0;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: 800;
    font-family: sans-serif !important;
    width: 100%;
    font-size: 20px;
    height: 45px;
    transition: all 0.6s;
}

.login-button:focus {
    border: none !important;
    background-color: #009cd4;
}

.login-button:hover {
    background-color: #009cd4;
}

.is-invalid {
    border-color: red !important;
}
