*{
    transition: all 1s;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


.form-content {
    padding: 0 !important;
}

.sidebar-logo-thing {
    opacity: 1;
    letter-spacing: 1px;
    visibility: visible;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    font-weight: 800;
    font-size: 30px;
    text-decoration: none !important;
    color: #00b1f0 !important;
    direction: ltr;
}

.sidebar-logo-thing span {
    color: black;
}

.login-button {
    border: none;
    background: linear-gradient(195deg, #086ad8 0%, #42b9ff 100%);
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: 800;
    font-family: sans-serif !important;
    width: 100%;
    font-size: 20px;
    height: 45px;
    transition: all 0.6s;
}

.login-button:focus {
    border: none !important;
    background-color: #009cd4;
}


.login-button:hover {
    background-color: #009cd4;
}

.is-invalid {
    border-color: red !important;
}

.checked-icon {
    z-index: 1;
    pointer-events: none;
    display: block;
    position: absolute;
    background-color: transparent;
    width: 15px;
    left: 15px;
    top: 4px;
    border-radius: 6px;
}

@media screen and (max-width: 370px) {
    .form-items {
        padding: 35px 20px !important;
    }
}

@media screen and (max-width: 499px) {
    .form-items {
        box-shadow: none !important;
        background-color: transparent !important;
    }

    .form-holder {
        background-color: white !important;
    }

    .img-holder {
        display: none !important;
    }

    .form-content {
        padding: 0 !important;
    }
}

.captcha-centering {
    display: flex;
    justify-content: center;
}

@media (max-width: 992px) {
    .form-body.without-side .form-holder .form-content {
        padding: 0 !important;
    }
}
